[submodule ".local/share/pandoc/github-markdown-css"]
	path = .local/share/pandoc/github-markdown-css
	url = https://github.com/sindresorhus/github-markdown-css.git
	branch = main
[submodule ".config/nvim/vimtex_my_complete"]
	path = .config/nvim/vimtex_my_complete
	url = https://github.com/rhelder/vimtex_my_complete.git
	branch = main
[submodule ".local/share/pandoc/templates"]
	path = .local/share/pandoc/templates
	url = https://github.com/rhelder/pandoc-templates.git
        branch = main
[submodule ".local/share/pandoc/styles"]
	path = .local/share/pandoc/styles
	url = https://github.com/citation-style-language/styles.git
