/.*/

!/.config/
/.config/nvim/vim-plug
/.config/nvim/spell/*.spl
!/.local/
/.local/state
/.local/share/nvim/.netrwhist
/.local/share/nvim/site/autoload

!/.terminal_login_fullscreen.app/

/Creative Cloud Files/
/Desktop/
/Documents/
/Downloads/
/Movies/
/Music/
/Pictures/
/Public/
/Sites/
/Zotero/

/Library/*
!/Library/texmf
/Library/texmf/bibtex

/Dropbox
/.zprofile*
/.zsh_*

.DS_Store
.CFUserTextEncoding
