/*/

!/.config/
/.config/nvim/vim-plug

!/.local/
/.local/*
!/.local/share
/.local/share/*
!.local/share/nvim
/.local/share/nvim/.netrwhist
/.local/share/nvim/site/autoload
/.local/share/nvim/site/vimtex/autoload/vimtex/complete.vim

!/.terminal_login_fullscreen.app/

!/Library/
/Library/*
!/Library/texmf
/Library/texmf/bibtex

!/[a-z]*/

/Dropbox
/.lesshst
/.viminfo
/.zprofile*
/.zsh_*

.DS_Store
.CFUserTextEncoding
