/.*/

!/.config/
/.config/nvim/vim-plug
!/.local/
/.local/*
!/.local/share
/.local/share/nvim

!/.terminal_login_fullscreen.app/

/Creative Cloud Files/
/Desktop/
/Documents/
/Downloads/
/Movies/
/Music/
/Pictures/
/Public/
/Sites/
/Zotero/

/Library/*
!/Library/texmf
/Library/texmf/bibtex

/Dropbox
/.lesshst
/.viminfo
/.zprofile*
/.zsh_*

.DS_Store
.CFUserTextEncoding
